.App {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.date-picker {
  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    min-height: 1.2em;
  }
}
