.cart-wrapper {
  display: flex;
  justify-content: center;
}
.cart-visible {
  display: flex;
  flex-direction: column;
  z-index: 10;
  height: 900px;
  width: 90vw;
  background-color: rgb(128, 128, 128, 0.95);
  border-radius: 10px;
}

.cart-min {
  position: fixed;
  bottom: -100px;
  height: auto;
  transition-duration: 2s;
}

.cart-max {
  position: fixed;
  bottom: 0px;
  height: 400px;
  transition-duration: 2s;
}

.cart-hidden {
  visibility: hidden;
  position: fixed;
  bottom: -400px;
  display: flex;
  flex-direction: column;
}

.cart-header {
  margin-top: -20px;
  display: grid;
  grid-template-rows: [s] 100% [e];
  grid-template-columns: 5% [title-s] 30% [title-e qty-s] 25% [qty-e] 30%[btn-s] 5%[btn-e]5%;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 90vw;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: $color-brown;
  color: $light-background;

  &__title {
    grid-row: s/e;
    grid-column: title-s/title-e;
    text-align: right;
  }

  &__qty {
    padding-left: 5px;
    grid-row: s/e;
    grid-column: qty-s/qty-e;
    text-align: left;
  }

  &__btn {
    width: 60px;
    grid-row: s/e;
    grid-column: btn-s/btn-e;
    background-color: $light-background;
    color: $color-brown;
    border-radius: 10px;
  }
}

.cart-items {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 10px;
}

.cart-items-min {
  height: 0px;

  visibility: hidden;
}

.cart-items-max {
  height: 210px;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: visible;
}

.cart-item {
  display: grid;
  font-size: 10px;
  margin-top: 5px;
  grid-template-rows: [item-s] 90px [item-e];
  grid-template-columns: [image-s] 170px [image-e name-s] 220px [name-e] 40px [plus-s] 20px [plus-e] 40px [quantity-s] 20px [quantity-e] 20px [minus-s] 20px [minus-e] 40px [price-s] 80px [price-e] 20px [remove-s] 20px [remove-e];
  justify-items: left;
  align-items: center;

  &__image {
    grid-row: item-s/item-e;
    grid-column: image-s/image-e;
    height: 75px;
    width: 150px;
  }

  &__button {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: item-s/item-e;
    border-radius: 50px;
  }

  &__plus {
    grid-column: plus-s/plus-e;
    font-size: 1.5rem;
  }
  &__minus {
    grid-column: minus-s/minus-e;
    font-size: 1.5rem;
  }
  &__remove {
    grid-column: remove-s/remove-e;
    font-size: 1.2rem;
  }
  &__quantity {
    grid-row: item-s/items-e;
    grid-column: quantity-s/quantity-e;
    font-size: 1.5rem;
  }
  &__price {
    grid-row: item-s/item-e;
    grid-column: price-s/price-e;
    font-size: 1.5rem;
  }
}

.cart-summary {
  height: 116px;
}

@media (max-width: $breakpoint) {
  .cart-visible {
    height: 400px;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: flex-start;
  }
  .cart-header {
    margin-top: -20px;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 90vw;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &__title {
      grid-row: s/e;
      grid-column: title-s/title-e;
      text-align: right;
    }

    &__qty {
      padding-left: 5px;
      grid-row: s/e;
      grid-column: qty-s/qty-e;
      text-align: left;
    }

    &__btn {
      grid-row: s/e;
      grid-column: btn-s/btn-e;
      height: 40px;
      width: 60px;
    }
  }

  .cart-min {
    height: 500px;
    position: fixed;
    bottom: -430px;
    .cart-header {
      height: 75px;
    }
  }
  .cart-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 5px;
    gap: 10px;
  }

  .cart-items-min {
    height: 0px;
    position: fixed;
  }

  .cart-items-max {
    height: 210px;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: visible;
  }

  .cart-item {
    display: grid;
    font-size: 8px;
    margin-top: 5px;
    grid-template-rows: [title-s] auto [title-e buttons-s] 30px [buttons-e price-s] 30px [price-e];
    grid-template-columns: [image-s] 225px [image-e title-s plus-s] 30px [plus-e qty-s] 30px[qty-e minus-s] 30px[minus-e remove-s] 30px [remove-e title-e];
    justify-items: left;
    align-items: center;

    &__image {
      grid-row: title-s/item-e;
      grid-column: image-s/image-e;
      height: 110px;
      width: 220px;
    }

    &__title {
      grid-row: title-s/title-e;
      grid-column: title-s/title-e;
    }

    &__button {
      height: 25px;
      width: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
    }

    &__plus {
      grid-row: buttons-s/buttons-e;
      grid-column: plus-s/plus-e;
      font-size: 1rem;
    }
    &__minus {
      grid-row: buttons-s/buttons-e;
      grid-column: minus-s/minus-e;
      font-size: 1rem;
    }
    &__remove {
      grid-row: buttons-s/buttons-e;
      grid-column: remove-s/remove-e;
      font-size: 1rem;
    }
    &__quantity {
      grid-row: buttons-s/buttons-e;
      grid-column: qty-s/qty-e;
      justify-self: center;
      font-size: 1rem;
    }
    &__price {
      grid-row: price-s/price-e;
      grid-column: plus-s/remove-e;
      justify-self: center;
      font-size: 1.5rem;
    }
  }

  .cart-summary {
    height: 116px;
  }
}
