.cart-hidden {
  visibility: hidden;
}

.cart-visibile {
  width: 90vw;
  height: auto;
}

.cart-item {
  display: grid;
  //   margin-top: 5px;
  //   grid-template-rows: [item-s] 20px [item-e];
  grid-template-columns: [image-s] 40px [image-e name-s] 40px [name-e] 20px [quantity-s] 100px [quantity-e] 30px [plus-s] 20px [plus-e] 20px [minus-s] 20px[minus-e];
  justify-items: left;

  &__image {
    grid-row: item-s/item-e;
    grid-column: image-s/image-e;
    height: 20px;
    width: 10px;
  }

  &__button {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: item-s/item-e;
    border-radius: 50px;
  }

  &__plus {
    grid-column: plus-s/plus-e;
  }
  &__minus {
    grid-column: minus-s/minus-e;
  }

  &__quantity {
    grid-row: item-s/items-e;
    grid-column: quantity-s/quantity-e;
  }
}
