.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 247, 240, 0.75);
  padding: 5px;
  border-radius: 10px;

  &__input-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__title {
    margin: 0px;
    height: 30px;
    color: $color-brown;
    font-weight: bold;
  }

  .form-button {
    margin: -15px 0px 15px 0px;

    &__Submit {
      height: 50px;
      width: 200px;
      border-radius: 50px;
    }
  }

  &__subtitle {
    color: $color-brown;
    font-weight: 550;
    height: auto;
    width: 90%;
    margin-bottom: 10px;
  }
}

.form-field {
  display: grid;
  margin-bottom: 15px;

  justify-items: start;
  grid-template-columns: [s] 5px [label-s] 140px [label-e]10px [input-s] 275px [input-e] 5px [e];
  grid-template-rows: [s] 20px [e];
  &__label {
    display: flex;
    align-items: center;
    grid-column: label-s/label-e;
    grid-row: s/e;
    font-size: 18px;
    padding: 3px;
  }
  &__input {
    height: 24px;
    width: 275px;
    border-width: 1px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    padding: 0px;
    grid-column: input-s/input-e;
    grid-row: s/e;
  }
}

.form-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.total {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 50px;

  &__title {
    text-align: left;

    height: 40px;
    width: 200px;
    color: $color-brick;
    font-weight: 700;
    font-size: 25px;
  }

  &__price {
    text-align: left;

    height: 20px;
    width: 100px;
    color: $color-brick;
    font-weight: 500;
    font-size: 28px;
  }
}

@media (max-width: $breakpoint) {
  .contact-form {
    display: flex;
    height: 725px;
    width: 90%;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 90px;
    overflow-y: scroll;

    &__input-wrapper {
      width: 95%;
    }
  }

  .form-field {
    margin-bottom: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__label {
      visibility: hidden;
    }

    &__input {
      height: 35px;
      width: 90%;
      border-radius: 15px;
      margin-bottom: -5px;
    }
  }

  .form-button-wrapper {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
  }

  .form-button {
    margin: 15px 5px 10px 5px;
    &__button {
      height: 40px;
      width: 200px;
      font-size: medium;
      padding: 3px;
      border-radius: 50px;
    }
  }

  .total {
    // margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title,
    &__price {
      display: flex;
      margin-top: 10px;
      margin-left: 5px;
      height: 25px;
      width: 45%;
      color: $color-brick;
    }

    &__title {
      font-weight: 700;
      font-size: 20px;
    }

    &__price {
      font-weight: 500;
      font-size: 28px;
    }
  }
}
