.contact-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 247, 240, 0.75);
  padding: 5px;
  border-radius: 10px;

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.form-field {
  display: grid;
  margin-bottom: 15px;

  justify-items: start;
  grid-template-columns: [s] 5px [label-s] 140px [label-e]10px [input-s] 275px [input-e] 5px [e];
  grid-template-rows: [s] 20px [e];
  &__label {
    display: flex;
    align-items: center;
    grid-column: label-s/label-e;
    grid-row: s/e;
    font-size: 18px;
    padding: 3px;
  }
  &__input {
    height: 24px;
    width: 275px;
    border-width: 1px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    padding: 0px;
    grid-column: input-s/input-e;
    grid-row: s/e;
  }
}

.form-button-wrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.form-button {
  margin: 5px;
  &__button {
    padding: 3px;
    border-radius: 50px;
  }
}

.total {
  margin: 20px 0px 0px 5px;
  display: flex;

  &__title {
    text-align: left;
    margin-top: 10px;
    height: 20px;
    width: 50%;
    color: $color-brick;
    font-weight: 700;
    font-size: 25px;
  }

  &__price {
    text-align: left;
    margin-top: 10px;
    height: 20px;
    width: 50%;
    color: $color-brick;
    font-weight: 500;
    font-size: 28px;
  }
}

@media (max-width: $breakpoint) {
  .contact-form {
    position: fixed;
    top: 90px;

    p {
      width: 90%;
    }
  }

  .form-title {
    margin-bottom: -10px;
  }

  .form-field {
    margin-bottom: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__label {
      visibility: hidden;
    }

    &__input {
      height: 35px;
      width: 90%;
      border-radius: 15px;
    }
  }

  .form-button-wrapper {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
  }

  .form-button {
    margin: -15px 5px 10px 5px;
    &__button {
      height: 60px;
      width: 150px;
      font-size: medium;
      padding: 3px;
      border-radius: 50px;
    }
  }

  .total {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

    &__title {
      display: flex;
      margin-top: 10px;
      margin-right: 5px;
      justify-content: flex-end;
      height: 20px;
      width: 45%;
      color: $color-brick;
      font-weight: 700;
      font-size: 20px;
    }

    &__price {
      display: flex;
      justify-content: flex-start;
      margin-top: 10px;
      margin-left: 5px;
      height: 20px;
      width: 45%;
      color: $color-brick;
      font-weight: 500;
      font-size: 28px;
    }
  }
}
