.contact-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 247, 240, 0.75);
  padding: 5px;
  border-radius: 10px;

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.form-field {
  display: grid;
  margin-bottom: 15px;

  justify-items: start;
  grid-template-columns: [s] 5px [label-s] 140px [label-e]10px [input-s] 275px [input-e] 5px [e];
  grid-template-rows: [s] 20px [e];
  &__label {
    display: flex;
    align-items: center;
    grid-column: label-s/label-e;
    grid-row: s/e;
    font-size: 18px;
    padding: 3px;
  }
  &__input {
    height: 24px;
    width: 275px;
    border-width: 1px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    padding: 0px;
    grid-column: input-s/input-e;
    grid-row: s/e;
  }
}

.form-button-wrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.form-button {
  margin: 5px;
  &__button {
    padding: 3px;
    border-radius: 50px;
  }
}

#contact-form-image {
  margin-top: 20px;
  height: 200px;
  width: 400px;
}

@media (max-width: $breakpoint) {
  .contact-form {
    position: fixed;
    top: 110px;
  }

  .form-title {
    margin-bottom: -10px;
  }

  .form-field {
    margin-bottom: -15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__label {
      visibility: hidden;
    }
  }

  .form-button-wrapper {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
  }

  .form-button {
    margin: 5px;
    &__button {
      height: 60px;
      width: 150px;
      font-size: medium;
      padding: 3px;
      border-radius: 50px;
    }
  }
}
