.gallery-item {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img:hover {
  transform: scale(1.2, 1.2);
}

.img-title {
  color: rgb(105, 77, 61);
  font-size: 20px;
}
