.header {
  height: 60px;
  width: 90vw;
  // background-color: rgba(35, 95, 35, 0.623);
  background-color: rgba(85, 132, 85, 0.75);
  margin-top: -10px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  p {
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    font-weight: 500;
    color: $color-darkblue;
  }

  i {
    visibility: hidden;
    font-size: 50px;
    color: $color-darkblue;
  }
}

@media (max-width: $breakpoint) {
  .header {
    height: 70px;
    background-color: rgba(85, 132, 85, 1);
    margin: -20px;
    padding: 17px 10px 10px 10px;
    width: 90vw;
    border-radius: 10px;
    align-items: center;
    z-index: 20;
    p {
      font-size: 35px;
      width: 80%;
    }
    i {
      visibility: visible;
      align-self: center;
    }
    #toggle-visible {
      transform: rotate(90deg);
    }
    #toggle-hidden {
      transform: rotate(0deg);
    }
  }
}
