.home-wrapper {
  width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    height: 30vw;
    width: 45vw;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .greeting-wrapper {
    height: 20vw;
    width: 30vw;
    margin-left: 30px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-brick;
    background-color: #d8d3c9;
    border-radius: 10px;
    box-shadow: inset 1px 2px 15px 1px rgba(148, 150, 80, 0.688);

    span {
      height: auto;
      width: auto;
      font-size: calc((30vw) / 18);

      text-align: left;
      text-indent: 30px;
      word-spacing: 0.2em;
    }
  }
}

@media (max-width: $breakpoint) {
  .home-wrapper {
    position: fixed;
    top: 110px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      height: 84vw;
      width: 84vw;
    }
    .greeting-wrapper {
      height: 48vw;
      width: 72vw;
      margin-left: 0px;
      margin-top: 10px;
      padding: 15px;

      span {
        text-align: center;
        font-size: calc((80vw) / 20);
      }
    }
  }
}
