.order-summary {
  display: grid;
  grid-template-rows: 5% [subtotals-s] 30% [subtotals-e] 0% [button-s] 10% [button-e] 5% [items-s] 45% [items-s] 5%;
  grid-template-columns: [contact-s] 60%[contact-e] 10% [subtotals-s]30% [subtotals-e];
  height: 65vh;
  width: 80vw;
  background-color: rgb(252, 247, 240, 0.75);
  padding: 20px;
  border-radius: 10px;

  &__customer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: space-around;
    grid-row: subtotals-s/button-e;
    grid-column: contact-s/contact-e;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    overflow-y: scroll;
    grid-row: items-s/items-e;
    grid-column: contact-s/subtotals-e;
  }

  &__submit-order {
    grid-row: button-s/button-e;
    grid-column: subtotals-s/subtotals-e;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    button {
      font-size: 1.5rem;
      height: 40px;
      width: 90%;
    }
  }

  &__totals {
    font-size: 1.5rem;
    grid-row: subtotals-s/subtotals-e;
    grid-column: subtotals-s/subtotals-e;
    display: grid;
    grid-template-rows: 5%[subtotal-s]30% [subtotal-e]0% [tax-s]30% [tax-e]0% [total-s]30% [total-e] 5%;
    grid-template-columns: 5%[label-s] 40% [label-e]5% [amount-s] 40% [amount-e]10%;
    align-items: center;
    span {
      font-weight: bold;
      grid-column: label-s/label-e;
    }

    p {
      grid-column: amount-s/amount-e;
    }

    &__subtotal-label {
      grid-row: subtotal-s/subtotal-e;
    }
    &__tax-label {
      grid-row: tax-s/tax-e;
    }
    &__total-label {
      grid-row: total-s/total-e;
    }

    &__subtotal-amount {
      grid-row: subtotal-s/subtotal-e;
    }
    &__tax-amount {
      grid-row: tax-s/tax-e;
    }
    &__total-amount {
      grid-row: total-s/total-e;
    }
  }

  &__input {
    display: grid;
    grid-template-rows: 1.5%[first-s]22% [first-e]3% [last-s]22% [last-e]3% [email-s]22% [email-e]3% [date-s]22% [date-e] 1.5%;
    grid-template-columns: 5%[label-s] 40% [label-e]10% [input-s] 40% [input-e]5%;
    .form-field__input {
      grid-column: input-s/input-e;
      font-size: 1.5rem;
      height: 40px;
      border-radius: 20px;
    }
    .form-field__label {
      grid-column: label-s/label-e;
      font-size: 1.5rem;
      height: 40px;
      width: 90%;
      border-radius: 20px;
    }
  }

  .hidden-input {
    visibility: hidden;
    z-index: -10;
  }
}

@media (max-width: $breakpoint) {
  .order-summary {
    margin: 10px 0px 0px 0px;
    display: grid;
    grid-template-rows: [info-s] 250px [info-e] 10px [subtotal-s] 85px [subtotal-e] 10px [submit-s] 45px [submit-e] 10px [ items-s] 100px [items-e];
    grid-template-columns: [summary-s] 100%[summary-e];
    height: 85vh;
    width: 80vw;
    background-color: $light-background;
    z-index: 5;
    border-radius: 10px;

    &__customer-info {
      grid-row: info-s/info-e;
      grid-column: summary-s/summary-e;
      display: grid;
      grid-template-rows: [first-s] 50px [first-e] 5px [last-s] 50px [last-e] 5px [email-s] 50px [email-e] 5px [date-s] 50px [date-e] 6%;
      grid-template-columns: [info-s] 100% [info-e];
    }

    &__items {
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      scroll-behavior: smooth;
      overflow-y: scroll;
      grid-row: items-s/items-e;
      grid-column: summary-s/summary-e;
    }

    &__submit-order {
      grid-row: submit-s/submit-e;
      grid-column: summary-s/summary-e;

      display: flex;
      justify-content: center;
      align-items: flex-end;
      button {
        background-color: $color-brown;
        color: $light-background;
        font-weight: bold;

        font-size: 1.5rem;
        height: 40px;
        width: 90%;
      }
    }

    &__totals {
      font-size: 1.5rem;
      grid-row: subtotal-s/subtotal-e;
      grid-column: summary-s/summary-e;
      display: grid;
      grid-template-rows: 5%[subtotal-s]30% [subtotal-e]0% [tax-s]30% [tax-e]0% [total-s]30% [total-e] 5%;
      grid-template-columns: 5%[label-s] 40% [label-e]5% [amount-s] 40% [amount-e]10%;
      align-items: center;
      span {
        font-weight: bold;
        grid-column: label-s/label-e;
      }

      p {
        grid-column: amount-s/amount-e;
      }

      &__subtotal-label {
        grid-row: subtotal-s/subtotal-e;
      }
      &__tax-label {
        grid-row: tax-s/tax-e;
      }
      &__total-label {
        grid-row: total-s/total-e;
      }

      &__subtotal-amount {
        grid-row: subtotal-s/subtotal-e;
      }
      &__tax-amount {
        grid-row: tax-s/tax-e;
      }
      &__total-amount {
        grid-row: total-s/total-e;
      }
    }

    &__input {
      grid-column: info-s/info-e;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: -15px;

      .form-field__input {
        grid-column: input-s/input-e;
        font-size: 1.5rem;
        height: 40px;
        width: 90%;
        border-radius: 20px;
      }
      .form-field__label {
        visibility: hidden;
        z-index: -10;
        grid-column: label-s/label-e;
        font-size: 1.5rem;
        height: 0px;
        width: 90%;
        border-radius: 20px;
      }
    }

    .first-name {
      grid-row: first-s/first-e;
    }
    .last-name {
      grid-row: last-s/last-e;
    }
    .email {
      grid-row: email-s/email-e;
    }
    .pickup-date {
      grid-row: date-s/date-e;
    }

    .hidden-input {
      visibility: hidden;
      z-index: -10;
    }
  }
}
