$color-olive: #787c00;
$color-lightolive: #949650f2;
$color-darkgreen: #303200;
$color-darkblue: #004c49;
$color-lightblue: #07938e;
$color-brick: #7d4000;
$color-salmon: #f2820c;
$color-brown: #80572b;
$breakpoint: 700px;
